#vis1 {
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

#vis2 {
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

h2{text-align: center;}

body{
    font-family: serif;
    text-align: center;
}
